.series-Emotion {
  background-color: #444;
  h5 {
    color: white !important;
  }
}
.series-Philosophy {
  h5 {
    color: white !important;
  }
}
.series-Blog {
  background-size: cover !important;
  h5 {
    color: white !important;
    text-shadow: 5px 5px 10px #333;
  }
}
